.noMessages {
    width: 100%;
    height: 100%;
    color: @DisabledText;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 18px;
}
.noMessagesHeader {
	color: @ControlText;
	font-size: 14px;
}

