.container {
	background-color: @Window;
	color: @WindowText;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 478px;
	height: 318px;
	border: solid 1px @WindowText/0.2;
	border-radius: 8px;
}

h1 {
	padding: 10px;
	font-weight: bold;
}

.social-container {
	padding: 4px;
}

.social {
	width: 48px;
	height: 48px;
	padding: 10px 10px;
	opacity:0.8;
}

	.social:hover {
		border-radius: 8px;
		background-color: @Control;
		opacity: 1;
	}

	.social:disabled {
		opacity: 0.25;
	}

.pwdInput {
	padding: 2px;
	width: 160px;
	height: 22px;
	align-content: stretch;
	border-style: solid;
	border-color: @WindowText/0.2;
	border-width: 1px;
	border-radius: 8px;
}

.button {
	width: 164px;
	margin-top: 8px;
	padding: 8px 0;
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background-color: @Green;
	color: White;
}

	.button:hover {
		background-color: @Green/0.75;
	}

.aux {
	color: @DisabledText;
}