.typingBox {
	padding: 10px 10px 10px 10px;
}

.container {
	font-family: Segoe UI;
	background-color: @window;
	color: @WindowText;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-self: center;
	padding: 5px 10px 5px 10px;
	border-style: solid;
	border-color: rgba(60, 60, 60, 0.2);
	border-width: 1px;
	border-radius: 8px 8px 0px 8px;
}

.message {
	max-height: 60px;
	flex-grow: 1;
	background-color: yellow;
}

.separator-Container {
	width: 1px;
	min-height: 36px;
	background-color: rgba(60, 60, 60, 0.1);
	margin: 4px 8px 4px 8px;
}

.button {
	width: 20px;
	height: 20px;
	min-width: 20px;
	padding: 8px;
	margin-left: 2px;
}

	.button:hover {
		border-radius: 4px;
		background-color: #F2F2F2;
	}

	.button:disabled {
		opacity: 0.35;
		background-color: #00000000;
	}
